
# title1

# title2

### title3

#### title4

##### title5

###### title6

*this is demo text*

___this is bold italic___

~~this is strikthrough text~~

# ARC DA 17

**python topic**
* python
* sql
* jupyter
* DS

this is the first task of jupyter and python.

***bold and bold***

- task 1
- task 2
    * sub-task 2.1
    * sub-task 2.2

1. First task 
 2. Second task 
    1. Sub-task

This is some code in a sentence.

<br>python
def hello_world():
    print("Hello, Jupyter!")
hello_world()
<br>

> this is a task 1.


> this is a python code.

[Google](https://www.google.com)


[Link with Title](https://www.example.com "Example Website")

---

___

***

```python code```

|task1

- header row

:--- header column

:---:header

---:header

- [ ] An unchecked task 1;br> - [x] A checked task 1

I love Jupyter! ❤️ &lt;br> :rocket: Launching soon!

E=mc<sup>2</sup> is Einstein's famous equation.

The Pythagorean theorem states that $a^2 + b^2 = c^2$.

$$E = mc^2$$	

 
$$\sum_{i=1}^{n} i = \frac{n(n+1)}{2}$$

| Excel | Sql | python |
| :------- | :------: | -------: |
| task 1 | task 1 | task 1 |
| task 2 | task 2 | task 2 |